{% extends 'base.html' %}
{% block content %}
<div class=" col-lg-12">
<form action="/search" method="GET">

<input type="search" name="q" required autofocus value="{{query}}"></input>
<input type="submit" value="search">
</form>


{% if results %}
<h3>Search Results for <i>{{query}}</i> </h3>
</div>

{% for result in results %}



<div class="col-sm-3">
 
  <img class="" src="/static/img/2.jpg" alt="Card image cap">
 
    
    

</div> 



<div class="col-sm-9">


<p>{{ result.name }}  </p>
<p>Location: {{ result.place.name }}  </p>
<p>Price: NGN {{result.cost}}   </p>
</div>
{% endfor %}
{% else %}
<p> No result for the given query</p>
{% endif %}
{% endblock content %}
